name: iOS Build & Test

on:
  pull_request:
    paths:
      - "TestPipeline/**"

permissions:
  contents: read

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 16
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.2"  # or latest-stable

      - name: Xcode version
        run: xcodebuild -version

      - name: Test
        run: |
          xcodebuild test \
            -project TestPipeline/TestPipeline.xcodeproj \
            -scheme "TestPipeline" \
            -sdk iphonesimulator \
            -destination "platform=iOS Simulator,name=iPhone 15"